
*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#mainNav{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 1% 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 500;
    background: white;
}
.brand-container{
	box-sizing: border-box;
	padding: 3px 0;
}
#menu{
	text-align: right;
	position: relative;
	z-index: 500;
}

#mainApp{
	background: #f4f4f4;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.layoutPanel{
	transition: 0.2s all ease-out;
	box-sizing: border-box;
	margin: 0;
	float: left;
}
.primaryPanel{
	width: 60%;
	height: 100%;
	position: relative;
	z-index: 10;
}
.secondaryPanel{
	width: 40%;
	background: #ccc;
	height: 100%;
	position: fixed;
	z-index: 15;
	right: 0;
	top: 0;
}
.pageTitle{
	color: white;
    font-size: 30px;
    margin: 0;
    display: block;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 1%;
    font-weight: 100;
}
#proyectosNav{
	overflow: hidden;
    background: #8cc74b;
    height: 55px;
    position: relative;
    z-index: 500;
}
.proyectosMenu{
	color: white;
	font-size: 22px;
	font-weight: 800;
	height: 100%;
	margin: 0;
	padding-top: 10px;
}
.proyectosMenu .btn{
	font-size: 13px;
	border-right: 1px solid rgba(255,255,255,0.3);
	transition: 0.1s all ;
}
.proyectosMenu .btn:hover{

	padding-top: 0;
	color: white;
}
.proyectosMenu .btn:last-child{
	border-right: none;
}

/*  Section nav bar END */


/* Proyectos */

.seccionProyecto{
	text-align: center;
	overflow: hidden;
	
}
.proyectosTitle{
	color: #4f4f4f;
	font-weight: 400;
	border-bottom: 1px solid #d3d3d3;
	padding: 10px 2%;
	font-size: 38px;
	font-weight: 100;
	text-align: left;
	margin: 10px auto;
}
.proyectosTitle .glyphicon{
	color: #8cc74b;
}
.proyectosContainer{
	width: 100%;
	box-sizing: border-box;
	padding: 15px 3%;
	text-align: left;
}


.proyecto{
	width: 23%;
	margin: 15px 1%;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 4px;
	min-width: 300px;
	max-width: 350px;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	
	border-bottom: 2px solid #8cc74b;
	transition: 0.2s all ease-out;
	color: #4f4f4f;
	position: relative;
	overflow: hidden;
}
.proyectoImg{
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.proyectoTitle{
	font-size: 23px;
	margin: 0;
	font-weight: 800;
	padding: 0 1%;
	margin-top: 15px;
}
.proyectoDescription{
	font-size: 14px;
	margin: 10px 0;
	height: 85px;
	overflow: auto;
	padding: 0 1%;
}
.proyectoDetails{
	width: 100%;
	padding: 10px 1%;
}
.proyectoDetails .theMoney{
	font-size: 12px;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 5px 7% 0;
}
.theMoney.juntado{
	text-align: left;
}	
.theMoney.meta{
	text-align: right;
}
.proyectoDetails .dinero{
	font-size: 16px;
	display: block;
	font-weight: 800;
}
.proyectoDetails .dinero:before{
	content: "$";
}
.progresoMeta{
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
	height: 20px;
	box-shadow: inset 0px 1px 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	overflow: hidden;
}
.progresoMeta .progreso{
	background: #8cc74b;
	height: 100%;
	
	box-shadow: inset 2px 1px 6px rgba(0,0,0,0.3);
	transition: 0.4s all ease-out;
}
footer{
	text-align: center;
	background: #4f4f4f;
	color: #bbbbbb;
	font-weight: 800;
	padding: 15px 0;
}
footer p{
	height: 100%;
	margin: 0;
}