
*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#mainNav{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 1% 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 500;
    background: white;
}
.brand-container{
	box-sizing: border-box;
	padding: 3px 0;
}
#menu{
	text-align: right;
	position: relative;
	z-index: 500;
}

#mainApp{
	background: #f4f4f4;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-top: 55px;
}
#panels.secondaryPanelActive .primaryPanel{
	width: 60%;
}	
#panels.secondaryPanelActive .secondaryPanel{
	width: 40%;
}
.layoutPanel{
	transition: 0.2s width ease-out;
	box-sizing: border-box;
	margin: 0;
	float: left;
}
.primaryPanel{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}
.secondaryPanel{
	width: 0%;
	background: #ccc;
	height: calc(100% - 109px) ;
	top: 109px;
	position: fixed;
	z-index: 15;
	right: 0;
	top: 0;
	background: #dedede;
    box-shadow: 0 -15px 10px rgba(0,0,0,0.3);
}
.secondaryPanel .barContainer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	text-align: center;
}
.barContainer iframe{
	align-self: flex-start;
}
.barContainer h3{
	margin: 10px;
	color: #4f4f4f;
	font-weight: 800;
	font-size: 30px;
}
.barContainer h6{
	font-size: 16px;
	margin: 8px 0;
	/* border-top: 1px solid #5f8833; */
	width: 140px;
	margin: 4px auto;
	color: #5f8833;
	font-weight: 600;
}
.amigos{
	width: 100%;
	text-align: center;
}
.amigos figure{
	display: inline-block;
	margin: 10px 5px;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	transition: 0.3s all;
	background-color: white;
	text-align: left;
	padding-left: 40px;
	box-sizing: border-box;
	background-position: left;
	cursor: pointer;
}
.amigos figure figcaption{
	line-height: 40px;
}
.amigos figure:hover{
	width: 180px;
	padding-left: 45px;
}
.amigo1{
	background-image: url(../img/amigos/amigo1.jpg);
}
.amigo2{
	background-image: url(../img/amigos/amigo2.jpg);
}
.amigo3{
	background-image: url(../img/amigos/amigo3.jpg);
}
button.verProyecto {
    width: 260px;
    font-size: 20px;
    font-weight: 100;
    margin: 10px auto;
    height: 45px;
    background: #8cc74b;
    color: #050801;
    border: none;
    border-bottom: 3px solid #5f8833;
    align-self: flex-end;
}
.pageTitle{
	color: white;
    font-size: 30px;
    margin: 0;
    display: block;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 1%;
    font-weight: 100;
}
#proyectosNav{
	overflow: hidden;
    background: #8cc74b;
    height: 55px;
    top: 0;
    width: 100%;
    z-index: 500;
    position: absolute;
    
}
.proyectosMenu{
	color: white;
	font-size: 22px;
	font-weight: 800;
	height: 100%;
	margin: 0;
	padding-top: 10px;
}
.proyectosMenu .btn{
	font-size: 13px;
	border-right: 1px solid rgba(255,255,255,0.3);
	transition: 0.1s all ;
}
.proyectosMenu .btn:hover{

	padding-top: 0;
	color: white;
}
.proyectosMenu .btn:last-child{
	border-right: none;
}

/*  Section nav bar END */


/* Proyectos */

.seccionProyecto{
	text-align: center;
	overflow: hidden;
	
}

.proyecto.fondeado{
	background: url(../img/fondeado.png) no-repeat ;
	background-position: 10% 99%;
	background-size: 130px
	
}
.proyectosTitle{
	color: #4f4f4f;
	font-weight: 400;
	border-bottom: 1px solid #d3d3d3;
	padding: 10px 2%;
	font-size: 38px;
	font-weight: 100;
	text-align: left;
	margin: 10px auto;
}
.proyectosTitle .glyphicon{
	color: #8cc74b;
}
.proyectosContainer{
	width: 100%;
	box-sizing: border-box;
	padding: 15px 3%;
	text-align: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


.proyecto{
	width: 350px;
	margin: center;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 4px;
	
	box-sizing: border-box;
	text-align: center;
	display: inline-block;

	border-bottom: 2px solid #8cc74b;
	transition: 0.1s all ease-out;
	color: #4f4f4f;
	position: relative;
	overflow: hidden;
	

}
.proyecto:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.proyecto.active{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border: 3px solid #8cc74b;
}
.proyecto:hover .proyectoImg .hoverMask{
	height: 100%;
	opacity: 1;
	padding-top: 3%;
}
.proyectoImg .hoverMask{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0px;
	background: url(../img/hexagono.png) no-repeat center;
	opacity: 0;
	transition: 0.1s opacity ease-in-out, 0.1s height ease-out;
	color: white;
	box-sizing: border-box;
	padding-top: 20%;
	text-decoration: underline;
	cursor: pointer;
}
.proyectoImg{
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	
}

.proyectoTitle{
	font-size: 23px;
	margin: 0;
	font-weight: 800;
	padding: 0 1%;
	margin-top: 15px;
}
.proyectoDescription{
	font-size: 14px;
	margin: 10px 1%;
	height: 85px;
	overflow: auto;
	padding: 0 1%;
}
.proyectoDetails{
	width: 100%;
	padding: 10px 1% ;
	overflow: hidden;
	
}
.proyectoDetails .theMoney{
	font-size: 12px;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 5px 7% 0;
}
.theMoney.juntado{
	text-align: left;
}	
.theMoney.meta{
	text-align: right;
}
.proyectoDetails .dinero{
	font-size: 16px;
	display: block;
	font-weight: 800;
}
.proyectoDetails .dinero:before{
	content: "$";
}
.progresoMeta{
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
	height: 20px;
	box-shadow: inset 0px 1px 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	overflow: hidden;
}
.progresoMeta .progreso{
	background: #8cc74b;
	height: 100%;
	
	box-shadow: inset 2px 1px 6px rgba(0,0,0,0.3);
	transition: 0.4s all ease-out;
}
.equity,
.remainingDays{
	width: 40%;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 1;
	color:  #8cc74b;
	font-weight: 800;
}
.remainingDays{
	float: right;
	background: url(../img/tiempo.png) no-repeat center top;
	background-size: 25px;
	padding: 30px 0 0;
}
.equity{
	float: left;
	background: url(../img/porcentaje.png) no-repeat center top;
	background-size: 25px;
	padding: 30px 0 0;
}
.equity .equityQty:after{
	content: "%";
}
.equity .equityQty,
.remainingDays .days{
	display: block;
	font-size: 14px;
	display: block;
	font-weight: 400;
	color: #4f4f4f;
}

.followSection{
	width: 100%;
	text-align: right;
	padding-right: 5%;
	box-sizing: border-box;
	overflow: hidden;
	
}
.followSection .followers{
	display: inline-block;
	padding-right: 5px ; 
	vertical-align: top;
	height: 40px;
	line-height: 40px;
}
.followSection .followBtn{
	display: inline-block;
	font-size: 20px;
	width: 27px;
	height: 40px;
	margin: 0;
	overflow: hidden;
	background: #9f9f9f;
	border: none;
	color: #ffffff;
	text-align: center;
	padding-left: 2px;
}
.followSection .followBtn.active{
	background: #fb3838;
    color: white;
}
footer{
	text-align: center;
	background: #4f4f4f;
	color: #bbbbbb;
	font-weight: 800;
	padding: 15px 0;
	position: relative;
	z-index: 500;
}
footer p{
	height: 100%;
	margin: 0;
}